<footer class="footer">Copyright@ 2020  湖北驰迅法律咨询服务有限公司 All rights reserved. <br> <a href="http://beian.miit.gov.cn/" style=color:#ffffff target="_blank">备案号：鄂ICP备20010203号-1</a></footer>

<commend class="toolbar">

    <dl class="list clearfix">

        <dd><a href="./index.html" class="too-home">首页</a></dd>

        <dd><a href="javascript:;" class="too-map"  onclick="app.map('show')">地图</a></dd>

        <dd><a href="tel:15827185636" class="too-tel">电话</a></dd>

        <dd><a href="#" class="too-qiao">咨询</a></dd>

    </dl>

</commend>

<section class="location" id="location">

    <div class="map" id="map"></div>

    <div class="address">

        <p>详细地址：

        </p>

    </div>

    <div class="close" onclick="app.map('hide')"></div>

    <!--    <script type="text/javascript">-->

    <!--        JsReady(function(){showMap('map','湖北驰迅法律咨询服务有限公司',117.190505,39.126166,'联系人：15827185636<br/>地址：',13)});-->

    <!--    </script>-->

</section>

<script src="./js/app.js"></script>

</body>

</html>
