<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,minimum-scale=1.0, maximum-scale=1.0,user-scalable=no,minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta content="telephone=no, email=no" name="format-detection">
    <!-- 启用360浏览器的极速模式(webkit) -->
    <meta name="renderer" content="webkit">
    <!-- 避免IE使用兼容模式 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- 针对手持设备优化，主要是针对一些老的不识别viewport的浏览器，比如黑莓 -->
    <meta name="HandheldFriendly" content="true">
    <!-- 微软的老式浏览器 -->
    <meta name="MobileOptimized" content="320">
    <!-- uc强制竖屏 -->
    <meta name="screen-orientation" content="portrait">
    <!-- QQ强制竖屏 -->
    <meta name="x5-orientation" content="portrait">
    <title>湖北驰迅法律咨询服务</title>
    <meta name="Keywords" content="湖北驰迅法律咨询" />
    <meta name="Description" content="湖北驰迅法律咨询服务有限公司" />
    <!--    <script>-->
    <!--        var _hmt = _hmt || [];-->
    <!--        (function() {-->
    <!--            var hm = document.createElement("script");-->
    <!--            hm.src = "https://hm.baidu.com/hm.js?ce95af7bf85200961ea872aaf8121b75";-->
    <!--            var s = document.getElementsByTagName("script")[0];-->
    <!--            s.parentNode.insertBefore(hm, s);-->
    <!--        })();-->
    <!--    </script>-->
    <meta charset="UTF-8">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
    <meta content="telephone=no" name="format-detection"/>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/1.10.0/jquery.min.js"></script>
    <style>
        .home_news li .date,.menu .list a.on span,.m-navbar,#m_message .coolbg,.m-ad,.ys .ystextd1 font,.ys .ysbtn span.on,.ys2-img font{ background:  #0165ba;background-size:100% 100%;}
        .m-box-title2 span,.m-box-title3 span,.m-box-title1 font,.sitepath  span i,.tabbar-item.tabbar-active,.fenlei a span i{ color:#0165ba;}
        .news_show .info{border-left:3px solid #0165ba;}
        /*关于我们*/
        .m-box-about { background:  #0165ba;background-size:100% 100%;}
        /*横幅电话*/
        .m-ad1,.m-ad2{ background:  #0165ba;background-size:100% 100%;}
        /*菜单背景*/
        .m-nav{ background:  #0165ba;background-size:100% 100%;}
        /*底部拨号*/
        .m-tabbar.tabbar-fixed{background:  #0165ba;background-size:100% 100%}
        /*标题栏目*/
        .m-box-title {background: #f2f2f2; background-size:100% 100%;}
        .m-box-title font{border-left:#0165ba 0.12rem solid;}
        /*顶部logo*/
        .m-logo{   padding:0.1rem; background:#fff;}
        .m-logo img{  max-width:98%; height:0.8rem;}
    </style>
    <link rel="stylesheet" type="text/css" href="./css/index.css" />
    <!--    <script src="http://cmsfile.hnjing.cn/JSHandler.ashx?v=1.0&id=c4ddfb3c-f763-42ee-a946-2ae122932d1b" type="text/javascript"></script>-->
</head>
<body>
