

<!DOCTYPE html>
<html manifest="huancun.manifest">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,minimum-scale=1.0, maximum-scale=1.0,user-scalable=no,minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta content="telephone=no, email=no" name="format-detection">
    <!-- 启用360浏览器的极速模式(webkit) -->
    <meta name="renderer" content="webkit">
    <!-- 避免IE使用兼容模式 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- 针对手持设备优化，主要是针对一些老的不识别viewport的浏览器，比如黑莓 -->
    <meta name="HandheldFriendly" content="true">
    <!-- 微软的老式浏览器 -->
    <meta name="MobileOptimized" content="320">
    <!-- uc强制竖屏 -->
    <meta name="screen-orientation" content="portrait">
    <!-- QQ强制竖屏 -->
    <meta name="x5-orientation" content="portrait">
    <title>黑平台公示</title>
    <meta charset="UTF-8">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
    <meta content="telephone=no" name="format-detection"/>

    <style>
        .home_news li .date,.menu .list a.on span,.m-navbar,#m_message .coolbg,.m-ad,.ys .ystextd1 font,.ys .ysbtn span.on,.ys2-img font{ background:  #0165ba;background-size:100% 100%;}
        .m-box-title2 span,.m-box-title3 span,.m-box-title1 font,.sitepath  span i,.tabbar-item.tabbar-active,.fenlei a span i{ color:#0165ba;}

        .news_show .info{border-left:3px solid #0165ba;}


        /*关于我们*/
        .m-box-about { background:  #0165ba;background-size:100% 100%;}
        /*横幅电话*/
        .m-ad1,.m-ad2{ background:  #0165ba;background-size:100% 100%;}
        /*菜单背景*/
        .m-nav{ background:  #0165ba;background-size:100% 100%;}
        /*底部拨号*/
        .m-tabbar.tabbar-fixed{background:  #0165ba;background-size:100% 100%}
        /*标题栏目*/
        .m-box-title {background: #f2f2f2; background-size:100% 100%;}
        .m-box-title font{border-left:#0165ba 0.12rem solid;}
        /*顶部logo*/
        .m-logo{   padding:0.1rem; background:#fff;}
        .m-logo img{  max-width:98%; height:0.8rem;}

    </style>


    <link rel="stylesheet" type="text/css" href="./css/index.css" />
<!--    <script src="http://cmsfile.hnjing.cn/JSHandler.ashx?v=1.0&id=c4ddfb3c-f763-42ee-a946-2ae122932d1b" type="text/javascript"></script>-->

</head>
<body>

<div class="header">

    <div class="header_c">

        <div class="logo"><a href="/m">湖北驰迅法律咨询服务有限公司</a></div>

    </div>

</div>
<section class="sitepath">
    <h2>黑平台公示</h2>
    <div class="showmenu" id="showmenu">分类导航</div>
</section>
<nav class="menu" id="menu">
    <dl class="list clearfix">

    </dl>
</nav>
<section class="list-product" id="ajaxLoading">
    <dl class="list clearfix">
        <dd class="item"><a href="/m/article/?57.html" ig-touch>
            <figure style="background:url(./img/1_01061G22H335.gif) center center no-repeat #f1f1f1; background-size:cover;"></figure>
            <span>Hifinsa...</span>
        </a></dd><dd class="item"><a href="/m/article/?56.html" ig-touch>
        <figure style="background:url(./img/1_01061G14264D.gif) center center no-repeat #f1f1f1; background-size:cover;"></figure>
        <span>SL三立集团...</span>
    </a></dd><dd class="item"><a href="/m/article/?55.html" ig-touch>
        <figure style="background:url(./img/1_01061FI53221.png) center center no-repeat #f1f1f1; background-size:cover;"></figure>
        <span>坚固环球...</span>
    </a></dd>

    </dl>
    <div class="clear"></div>
    <div class="yc_pages">
        <link href="/m/skin0/css/pages.css" type="text/css" rel="stylesheet"/>
        <ul>
            <li><span class="pageinfo">共 1 页/3 条记录</span></li>

        </ul>
    </div>
    <div class="clear"></div>
</section>
<footer class="footer">Copyright@ 2020  湖北驰迅法律咨询服务有限公司 All rights reserved. <br> <a href="http://beian.miit.gov.cn/" style=color:#ffffff target="_blank">备案号：鄂ICP备20010203号-1</a></footer>

<commend class="toolbar">

    <dl class="list clearfix">

        <dd><a href="./index.html" class="too-home">首页</a></dd>

        <dd><a href="javascript:;" class="too-map"  onclick="app.map('show')">地图</a></dd>

        <dd><a href="tel:18571690116" class="too-tel">电话</a></dd>

        <dd><a href="#" class="too-qiao">咨询</a></dd>

    </dl>

</commend>

<section class="location" id="location">

    <div class="map" id="map"></div>

    <div class="address">

        <p>详细地址：

        </p>

    </div>

    <div class="close" onclick="app.map('hide')"></div>

    <script type="text/javascript">

        JsReady(function(){showMap('map','湖北驰迅法律咨询服务有限公司',117.190505,39.126166,'联系人：18571690116<br/>地址：',13)});

    </script>

</section>

<script src="/m/skin0/js/app.js"></script>


</body>
</html>
