<%-include ('common/header.ejs')-%>
<%-include ('common/logo.ejs')-%>
<section class="sitepath">
    <h2>黑平台公示</h2>
    <div class="showmenu" id="showmenu">分类导航</div>
</section>
<nav class="menu" id="menu">
    <dl class="list clearfix">

    </dl>
</nav>
<section class="list-product" id="ajaxLoading">
    <dl class="list clearfix">
        <dd class="item"><a href="/m/article/?57.html" ig-touch>
            <figure style="background:url(./img/1_01061G22H335.gif) center center no-repeat #f1f1f1; background-size:cover;"></figure>
            <span>Hifinsa...</span>
        </a></dd><dd class="item"><a href="/m/article/?56.html" ig-touch>
        <figure style="background:url(./img/1_01061G14264D.gif) center center no-repeat #f1f1f1; background-size:cover;"></figure>
        <span>SL三立集团...</span>
    </a></dd><dd class="item"><a href="/m/article/?55.html" ig-touch>
        <figure style="background:url(./img/1_01061FI53221.png) center center no-repeat #f1f1f1; background-size:cover;"></figure>
        <span>坚固环球...</span>
    </a></dd>

    </dl>
    <div class="clear"></div>
    <div class="yc_pages">
        <link href="/m/skin0/css/pages.css" type="text/css" rel="stylesheet"/>
        <ul>
            <li><span class="pageinfo">共 1 页/3 条记录</span></li>

        </ul>
    </div>
    <div class="clear"></div>
</section>
<footer class="footer">Copyright@ 2020  湖北驰迅法律咨询服务有限公司 All rights reserved. <br> <a href="http://beian.miit.gov.cn/" style=color:#ffffff target="_blank">备案号：鄂ICP备20010203号-1</a></footer>

<commend class="toolbar">

    <dl class="list clearfix">

        <dd><a href="./index.html" class="too-home">首页</a></dd>

        <dd><a href="javascript:;" class="too-map"  onclick="app.map('show')">地图</a></dd>

        <dd><a href="tel:18571690116" class="too-tel">电话</a></dd>

        <dd><a href="#" class="too-qiao">咨询</a></dd>

    </dl>

</commend>

<section class="location" id="location">

    <div class="map" id="map"></div>

    <div class="address">

        <p>详细地址：

        </p>

    </div>

    <div class="close" onclick="app.map('hide')"></div>

    <script type="text/javascript">

        JsReady(function(){showMap('map','湖北驰迅法律咨询服务有限公司',117.190505,39.126166,'联系人：18571690116<br/>地址：',13)});

    </script>

</section>

<script src="/m/skin0/js/app.js"></script>


</body>
</html>
