

<!DOCTYPE html>
<html >
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,minimum-scale=1.0, maximum-scale=1.0,user-scalable=no,minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta content="telephone=no, email=no" name="format-detection">
    <!-- 启用360浏览器的极速模式(webkit) -->
    <meta name="renderer" content="webkit">
    <!-- 避免IE使用兼容模式 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- 针对手持设备优化，主要是针对一些老的不识别viewport的浏览器，比如黑莓 -->
    <meta name="HandheldFriendly" content="true">
    <!-- 微软的老式浏览器 -->
    <meta name="MobileOptimized" content="320">
    <!-- uc强制竖屏 -->
    <meta name="screen-orientation" content="portrait">
    <!-- QQ强制竖屏 -->
    <meta name="x5-orientation" content="portrait">
    <title>合作流程</title>

    <meta charset="UTF-8">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
    <meta content="telephone=no" name="format-detection"/>

    <style>
        .home_news li .date,.menu .list a.on span,.m-navbar,#m_message .coolbg,.m-ad,.ys .ystextd1 font,.ys .ysbtn span.on,.ys2-img font{ background:  #0165ba;background-size:100% 100%;}
        .m-box-title2 span,.m-box-title3 span,.m-box-title1 font,.sitepath  span i,.tabbar-item.tabbar-active,.fenlei a span i{ color:#0165ba;}

        .news_show .info{border-left:3px solid #0165ba;}


        /*关于我们*/
        .m-box-about { background:  #0165ba;background-size:100% 100%;}
        /*横幅电话*/
        .m-ad1,.m-ad2{ background:  #0165ba;background-size:100% 100%;}
        /*菜单背景*/
        .m-nav{ background:  #0165ba;background-size:100% 100%;}
        /*底部拨号*/
        .m-tabbar.tabbar-fixed{background:  #0165ba;background-size:100% 100%}
        /*标题栏目*/
        .m-box-title {background: #f2f2f2; background-size:100% 100%;}
        .m-box-title font{border-left:#0165ba 0.12rem solid;}
        /*顶部logo*/
        .m-logo{   padding:0.1rem; background:#fff;}
        .m-logo img{  max-width:98%; height:0.8rem;}

    </style>

    <link rel="stylesheet" type="text/css" href="./css/index.css" />
<!--    <script src="http://cmsfile.hnjing.cn/JSHandler.ashx?v=1.0&id=c4ddfb3c-f763-42ee-a946-2ae122932d1b" type="text/javascript"></script>-->

</head>
<body>

<div class="header">

    <div class="header_c">

        <div class="logo"><a href="/m">湖北驰迅法律咨询服务有限公司</a></div>

    </div>

</div>
<section class="sitepath">
    <h2>合作流程</h2>
    <div class="showmenu" id="showmenu">分类导航</div>
</section>
<nav class="menu" id="menu">
    <dl class="list clearfix">

    </dl>
</nav>
<section class="wrapper">
    <article ig-article>

        <p class="p" style="margin-top:0px;margin-bottom:0px;margin-left:0pt;padding:0px;transition:all 300ms ease;color:#222222;font-family:"font-size:16px;text-indent:0pt;white-space:normal;background:#FFFFFF;">
        <span style="margin:0px;padding:0px;transition:all 300ms ease;font-family:宋体;color:#000000;font-size:12pt;background-image:initial;background-position:initial;background-size:initial;background-repeat:initial;background-attachment:initial;background-origin:initial;background-clip:initial;"><span style="margin:0px;padding:0px;transition:all 300ms ease;">提供专业的金融维权咨询服务，为客户提供一站式的金融维权咨询服务。目前涉及的咨询服务业务领域包括外汇黄金、股指期货、个股期权、股票配资、大宗商品、</span> <span style="margin:0px;padding:0px;transition:all 300ms ease;">现货、沪深</span>300、A50、数字货币、港股、区块链等金融类维权服务。</span><span style="margin:0px;padding:0px;transition:all 300ms ease;font-family:宋体;color:#000000;font-size:12pt;"></span>
        </p>
        <p class="p" style="margin-top:0px;margin-bottom:0px;margin-left:0pt;padding:0px;transition:all 300ms ease;color:#222222;font-family:"font-size:16px;text-indent:0pt;white-space:normal;background:#FFFFFF;">
        <span style="margin:0px;padding:0px;transition:all 300ms ease;font-family:宋体;color:#000000;font-size:12pt;background-image:initial;background-position:initial;background-size:initial;background-repeat:initial;background-attachment:initial;background-origin:initial;background-clip:initial;"><span style="margin:0px;padding:0px;transition:all 300ms ease;">凡是达到以下要求的可以咨询：</span></span><span style="margin:0px;padding:0px;transition:all 300ms ease;font-family:宋体;color:#000000;font-size:12pt;"></span>
        </p>
        <p class="p" style="margin-top:0px;margin-bottom:0px;margin-left:0pt;padding:0px;transition:all 300ms ease;color:#222222;font-family:"font-size:16px;text-indent:0pt;white-space:normal;background:#FFFFFF;">
        <span style="margin:0px;padding:0px;transition:all 300ms ease;font-family:宋体;color:#000000;font-size:12pt;background-image:initial;background-position:initial;background-size:initial;background-repeat:initial;background-attachment:initial;background-origin:initial;background-clip:initial;">1.亏损额度超过2万元人民币以上</span><span style="margin:0px;padding:0px;transition:all 300ms ease;font-family:宋体;color:#000000;font-size:12pt;"></span>
        </p>
        <p class="p" style="margin-top:0px;margin-bottom:0px;margin-left:0pt;padding:0px;transition:all 300ms ease;color:#222222;font-family:"font-size:16px;text-indent:0pt;white-space:normal;background:#FFFFFF;">
        <span style="margin:0px;padding:0px;transition:all 300ms ease;font-family:宋体;color:#000000;font-size:12pt;background-image:initial;background-position:initial;background-size:initial;background-repeat:initial;background-attachment:initial;background-origin:initial;background-clip:initial;">2.交易记录在1年以内</span><span style="margin:0px;padding:0px;transition:all 300ms ease;font-family:宋体;color:#000000;font-size:12pt;"></span>
        </p>
        <p class="p" style="margin-top:0px;margin-bottom:0px;margin-left:0pt;padding:0px;transition:all 300ms ease;color:#222222;font-family:"font-size:16px;text-indent:0pt;white-space:normal;background:#FFFFFF;">
        <span style="margin:0px;padding:0px;transition:all 300ms ease;font-family:宋体;color:#000000;font-size:12pt;background-image:initial;background-position:initial;background-size:initial;background-repeat:initial;background-attachment:initial;background-origin:initial;background-clip:initial;">3.有银行转账记录</span><span style="margin:0px;padding:0px;transition:all 300ms ease;font-family:宋体;color:#000000;font-size:12pt;"></span>
        </p>
        <p class="p" style="margin-top:0px;margin-bottom:0px;margin-left:0pt;padding:0px;transition:all 300ms ease;color:#222222;font-family:"font-size:16px;text-indent:0pt;white-space:normal;background:#FFFFFF;">
        <span style="margin:0px;padding:0px;transition:all 300ms ease;font-family:宋体;color:#000000;font-size:12pt;background-image:initial;background-position:initial;background-size:initial;background-repeat:initial;background-attachment:initial;background-origin:initial;background-clip:initial;">4.平台还在运作</span><span style="margin:0px;padding:0px;transition:all 300ms ease;font-family:宋体;color:#000000;font-size:12pt;"></span>
        </p>
        <p class="p" style="margin-top:0px;margin-bottom:0px;margin-left:0pt;padding:0px;transition:all 300ms ease;color:#222222;font-family:"font-size:16px;text-indent:0pt;white-space:normal;background:#FFFFFF;">
        <span style="margin:0px;padding:0px;transition:all 300ms ease;font-family:宋体;color:#000000;font-size:12pt;background-image:initial;background-position:initial;background-size:initial;background-repeat:initial;background-attachment:initial;background-origin:initial;background-clip:initial;">5.有平台业务员和喊单老师聊天记录的</span><span style="margin:0px;padding:0px;transition:all 300ms ease;font-family:宋体;color:#000000;font-size:12pt;"></span>
        </p>
        <p class="p" style="margin-top:0px;margin-bottom:0px;margin-left:0pt;padding:0px;transition:all 300ms ease;color:#222222;font-family:"font-size:16px;text-indent:0pt;white-space:normal;background:#FFFFFF;">
        <span style="margin:0px;padding:0px;transition:all 300ms ease;font-family:宋体;color:#000000;font-size:12pt;background-image:initial;background-position:initial;background-size:initial;background-repeat:initial;background-attachment:initial;background-origin:initial;background-clip:initial;"><span style="margin:0px;padding:0px;transition:all 300ms ease;">以上</span>5个条件满足其中三个的就满足咨询条件、时间3-15工作日，个别平台需要30工作日以上，帮忙制作定制化策略</span><span style="margin:0px;padding:0px;transition:all 300ms ease;font-family:宋体;color:#000000;font-size:12pt;"></span>
        </p>
        <p class="p" style="margin-top:0px;margin-bottom:0px;margin-left:0pt;padding:0px;transition:all 300ms ease;color:#222222;font-family:"font-size:16px;white-space:normal;text-indent:18pt;background:#FFFFFF;">
        <span style="margin:0px;padding:0px;transition:all 300ms ease;font-family:宋体;color:#000000;font-size:12pt;background-image:initial;background-position:initial;background-size:initial;background-repeat:initial;background-attachment:initial;background-origin:initial;background-clip:initial;"><span style="margin:0px;padding:0px;transition:all 300ms ease;">目前拥有</span>34人的专业团队。秉承“专业”、“诚信”、“服务”“创新”的原则，我们以专业的知识、诚信的态度、客户至上的服务、锐意创新的精神，立足于市场，服务于客户。专业致力于为投资市场受骗亏损投资者维权咨询，包含现货市场、期货市场、股票配资、个股期权、微盘微交易、商城等领域，产品涵盖黄金、外汇、原油、指数、贵金属、大宗商品、金融资产、商城等。</span><span style="margin:0px;padding:0px;transition:all 300ms ease;font-family:宋体;color:#000000;font-size:12pt;background-image:initial;background-position:initial;background-size:initial;background-repeat:initial;background-attachment:initial;background-origin:initial;background-clip:initial;"></span>
        </p>
        <span style="margin:0px;padding:0px;transition:all 300ms ease;font-size:12pt;white-space:normal;font-family:宋体;background:#FFFFFF;"></span><span style="margin:0px;padding:0px;transition:all 300ms ease;font-size:12pt;white-space:normal;background-color:#FFFFFF;font-family:宋体;"></span><span style="color:#222222;font-family:"font-size:16px;white-space:normal;background-color:#FFFFFF;"></span>
        <p class="p" style="margin-top:0px;margin-bottom:0px;margin-left:0pt;padding:0px;transition:all 300ms ease;color:#222222;font-family:"font-size:16px;white-space:normal;background-color:#FFFFFF;">
        <span style="margin:0px;padding:0px;transition:all 300ms ease;font-family:宋体;color:#000000;font-size:12pt;"></span>
        </p>
        <p class="p" style="margin-top:0px;margin-bottom:0px;margin-left:0pt;padding:0px;transition:all 300ms ease;color:#222222;font-family:"font-size:16px;text-indent:0pt;white-space:normal;background:#FFFFFF;">
        <span style="margin:0px;padding:0px;transition:all 300ms ease;font-family:宋体;color:#000000;font-size:12pt;background-image:initial;background-position:initial;background-size:initial;background-repeat:initial;background-attachment:initial;background-origin:initial;background-clip:initial;"><span style="margin:0px;padding:0px;transition:all 300ms ease;">维权咨询，资料非常重要。抓住相关交易所或平台、会员单位或代理商违法违规的证据，才拥有了与他们进行谈判的砝码，维权变更容易。如果没有证据或者证据不充分，那么就会增加维权的难度。交易所或平台、会员单位或代理商就不会和你谈判，更不会给你赔偿。一般情况下，我们投资者或受骗者应当准备以下证据：</span></span><span style="margin:0px;padding:0px;transition:all 300ms ease;font-family:宋体;color:#000000;font-size:12pt;"></span>
        </p>
        <p class="p" style="margin-top:0px;margin-bottom:0px;margin-left:0pt;padding:0px;transition:all 300ms ease;color:#222222;font-family:"font-size:16px;text-indent:0pt;white-space:normal;background:#FFFFFF;">
        <span style="margin:0px;padding:0px;transition:all 300ms ease;font-family:宋体;color:#000000;font-size:12pt;"></span>
        </p>
        <p class="p" style="margin-top:0px;margin-bottom:0px;margin-left:0pt;padding:0px;transition:all 300ms ease;color:#222222;font-family:"font-size:16px;text-indent:0pt;white-space:normal;background:#FFFFFF;">
        <span style="margin:0px;padding:0px;transition:all 300ms ease;font-family:宋体;color:#000000;font-size:12pt;background-image:initial;background-position:initial;background-size:initial;background-repeat:initial;background-attachment:initial;background-origin:initial;background-clip:initial;"><span style="margin:0px;padding:0px;transition:all 300ms ease;"></span>1、相关聊天记录：与业务员、喊单人员的聊天记录是最基础也是最重要的证据，因为这类证据能够充分反映受骗者受骗的整个过程，相关分析师或代理商在聊天过程中产生的违法违规的地方，能够在聊天记录中得到充分反映。通常而言，一般正规平台都不允许会员单位或代理商进行喊单，但事实上很多会员单位或代理商都存在喊单的情况，这是违规的。有的还存在代客理财的情况，这依然触碰了法律红线。实践中遇到的问题是，这类证据很多当事人只有部分或全部删除了，导致关键证据缺失，无法形成有效的证据链。当然没有了这类证据，不代表不能维权，仍然可以维权，只是维权成本会高一点而已。</span><span style="margin:0px;padding:0px;transition:all 300ms ease;font-family:宋体;color:#000000;font-size:12pt;"></span>
        </p>
        <p class="p" style="margin-top:0px;margin-bottom:0px;margin-left:0pt;padding:0px;transition:all 300ms ease;color:#222222;font-family:"font-size:16px;text-indent:0pt;white-space:normal;background:#FFFFFF;">
        <span style="margin:0px;padding:0px;transition:all 300ms ease;font-family:宋体;color:#000000;font-size:12pt;"></span>
        </p>
        <p class="p" style="margin-top:0px;margin-bottom:0px;margin-left:0pt;padding:0px;transition:all 300ms ease;color:#222222;font-family:"font-size:16px;text-indent:0pt;white-space:normal;background:#FFFFFF;">
        <span style="margin:0px;padding:0px;transition:all 300ms ease;font-family:宋体;color:#000000;font-size:12pt;background-image:initial;background-position:initial;background-size:initial;background-repeat:initial;background-attachment:initial;background-origin:initial;background-clip:initial;"><span style="margin:0px;padding:0px;transition:all 300ms ease;"></span>2、相关交易记录：投资者或受骗者在交易软件上的整个交易过程，都能在交易记录中得到反映，这份证据能够证明在交易所或平台交易资金损失的过程，只要能够登上相关的交易软件，此交易记录基本都能够下载下来。但实践中，许多受骗者无法取得相关交易记录，主要是因为无法登录交易软件，有的交易记录已经被平台删除，也是部分原因。交易记录也是关键证据，在维权过程中也是很重要的，因为这是证明平台非法交易的证据。</span><span style="margin:0px;padding:0px;transition:all 300ms ease;font-family:宋体;color:#000000;font-size:12pt;"></span>
        </p>
        <p class="p" style="margin-top:0px;margin-bottom:0px;margin-left:0pt;padding:0px;transition:all 300ms ease;color:#222222;font-family:"font-size:16px;text-indent:0pt;white-space:normal;background:#FFFFFF;">
        <span style="margin:0px;padding:0px;transition:all 300ms ease;font-family:宋体;color:#000000;font-size:12pt;"></span>
        </p>
        <p class="p" style="margin-top:0px;margin-bottom:0px;margin-left:0pt;padding:0px;transition:all 300ms ease;color:#222222;font-family:"font-size:16px;text-indent:0pt;white-space:normal;background:#FFFFFF;">
        <span style="margin:0px;padding:0px;transition:all 300ms ease;font-family:宋体;color:#000000;font-size:12pt;background-image:initial;background-position:initial;background-size:initial;background-repeat:initial;background-attachment:initial;background-origin:initial;background-clip:initial;"><span style="margin:0px;padding:0px;transition:all 300ms ease;"></span>3、相关出入金记录：此类证据是投资者或受骗者自己银行账户的出入金情况，能够反映受骗者投入的资金情况，以及出金情况，两者之差基本就是投资者的全部资金损失。这类证据受骗者基本都能保存，只需要去银行打印一下银行流水即可。</span>
        </p>
    </article>
</section>
<footer class="footer">Copyright@ 2020  湖北驰迅法律咨询服务有限公司 All rights reserved. <br> <a href="http://beian.miit.gov.cn/" style=color:#ffffff target="_blank">备案号：鄂ICP备20010203号-1</a></footer>

<commend class="toolbar">

    <dl class="list clearfix">

        <dd><a href="./index.html" class="too-home">首页</a></dd>

        <dd><a href="javascript:;" class="too-map"  onclick="app.map('show')">地图</a></dd>

        <dd><a href="tel:18571690116" class="too-tel">电话</a></dd>

        <dd><a href="#" class="too-qiao">咨询</a></dd>

    </dl>

</commend>

<section class="location" id="location">

    <div class="map" id="map"></div>

    <div class="address">

        <p>详细地址：

        </p>

    </div>

    <div class="close" onclick="app.map('hide')"></div>

    <script type="text/javascript">

        JsReady(function(){showMap('map','湖北驰迅法律咨询服务有限公司',117.190505,39.126166,'联系人：18571690116<br/>地址：',13)});

    </script>

</section>

<script src="/m/skin0/js/app.js"></script>


</body>
</html>
