<%-include ('common/header.ejs')-%>
<nav class="inav1" id="nav">
    <dl class="list clearfix">
        <dd  class="current" ><a href="./">网站首页</a></dd>
        <dd ><a href="./us">关于我们</a></dd>
        <dd ><a href="./infos">法律资讯</a></dd>
        <dd ><a href="./service">服务项目</a></dd>
        <dd ><a href="./coorp">合作流程</a></dd>
        <dd ><a href="./black">黑平台公示</a></dd>
        <dd ><a href="./contact">联系我们</a></dd>
    </dl>
</nav>
<section class="banner" id="banner">
    <ul class="list">
        <li><img src="./img/1-20052Q30TG28.jpg"/></li><li><img src="./img/1-200523111004635.jpg"/></li>
    </ul>
    <div class="tip"></div>
</section>
<section class="banb">
    <div class="tel2">
        <span>专业</span>领域，<span>精准</span>定位
    </div>
    <div class="searcher" id="searcher">

        <input type="text" value="" class="txt" id="SearchTxt" />

        <input type="hidden" value="/m/f1291121-c865-4122-9ead-66acfc1a7dbe.html?a=1&key=aa43eca0-4d6d-4de5-a140-df1892f42247" id="Searchtype" />            <input type="submit" value="" class="submit" id="SearchSubmit" />

    </div>

</section>

<section class="inav iareas" style="">
    <div class="ihead">
        <h2>专业领域 <span>Specialized field </span> </h2>
    </div>
    <ul class="tod clearfix">
        <li>
            <span><a href="/m/article/?64.html" >配资策略维权...</a></span>
            <p>  什么是配资，说简...</p>
        </li><li>
            <span><a href="/m/article/?65.html" >个股期权维权...</a></span>
            <p>  一些公司借助互联...</p>
        </li><li>
            <span><a href="/m/article/?66.html" >期货现货维权...</a></span>

            <p>  近年来，涌入国内...</p>

        </li><li>

            <span><a href="/m/article/?67.html" >外汇黄金维权...</a></span>

            <p>  近几年我国境内出...</p>

        </li>
    </ul>

    <a href="/m/category/?7.html" class="more">查看更多</a>
</section>
<section class="igao">
    <div class="zi">
        <b>专业领域 精准定位</b>
        <p>专业律师24小时法律咨询</p>
    </div>
    <div class="telp" ig-phone>15827185636</div>
</section>
<section class="inav ipro">
    <div class="ihead">
        <h2>律师风采<span>Honor</span> </h2>
    </div>
    <ul class="tod clearfix">
        <li><a href="/m/article/?54.html" ><img src="./img/1-19112GP627.jpg" alt="赵顾问"/></a>
            <span><a href="/m/article/?54.html" >赵顾问</a></span></li>
        <li><a href="/m/article/?53.html" ><img src="./img/1-19112GP626.jpg" alt="张顾问"/></a>
            <span><a href="/m/article/?53.html" >张顾问</a></span></li>
        <li><a href="/m/article/?52.html" ><img src="./img/1-19112GP624.jpg" alt="杨顾问"/></a>
            <span><a href="/m/article/?52.html" >杨顾问</a></span></li>
        <li><a href="/m/article/?51.html" ><img src="./img/1-19112GP622.jpg" alt="胡顾问"/></a>
            <span><a href="/m/article/?51.html" >胡顾问</a></span></li>
    </ul>
    <a href="/m/category/?12.html" class="more">查看更多</a>
</section>
<section class="inav icase">
    <h2 class="tit"><span>相关案例 <em>Case</em> </span>
        <a href="/m/category/?13.html" class="more2">更多</a></h2>
    <ul class="tod clearfix">
        <li class="da">
            <a href="/m/article/?71.html" title="最近我看到很多网站宣传，做外汇、股票等二元">
                <img src="./img/1_05231056045A3.jpg" alt="最近我看到很多网站宣传，做外汇、股票等二元"/>
                <div class="link"><h3>最近我看到很多网站宣传，做外汇、股票等二元...</h3></div>
                <div class="wd"> 问：最近我看到很...  </div>
            </a>
        </li>
        <li class="da">
            <a href="/m/article/?70.html" title="百盛国际被骗亏损黑幕大曝光!出金困难问题大揭">
                <img src="./img/10534Cb1-0-lp.jpg" alt="百盛国际被骗亏损黑幕大曝光!出金困难问题大揭"/>
                <div class="link"><h3>百盛国际被骗亏损黑幕大曝光!出金困难问题大揭...</h3></div>
                <div class="wd"> 在你投资亏损的同...  </div>
            </a>
        </li>
    </ul>
</section>
<section class="inews iteam clearfix">
    <h2 class="tit"><span>法律知识 <em>Knowledge </em> </span>
        <a href="/m/xinwenzhongxin/Default.html" class="more2">更多</a></h2>
    <ul class="tod clearfix">
        <li>
            <a href="/m/article/?71.html" title="最近我看到很多网站宣传">最近我看到很多网站宣传 <span>05-23</span></a>
        </li>
        <li>
            <a href="/m/article/?70.html" title="百盛国际被骗亏损黑幕大">百盛国际被骗亏损黑幕大 <span>05-23</span></a>
        </li>
        <li>
            <a href="/m/article/?14.html" title="你投资为什么总是小赢大">你投资为什么总是小赢大 <span>11-18</span></a>
        </li>
        <li>
            <a href="/m/article/?12.html" title="老师带单频频亏损真的是">老师带单频频亏损真的是 <span>11-18</span></a>
        </li>
        <li>
            <a href="/m/article/?11.html" title="老师免费带单是真心带你">老师免费带单是真心带你 <span>11-18</span></a>
        </li>
        <li>
            <a href="/m/article/?13.html" title="免费荐股是阴谋还是馅饼">免费荐股是阴谋还是馅饼 <span>11-18</span></a>
        </li>
        <li>
            <a href="/m/article/?15.html" title="配资策略维权咨询">配资策略维权咨询 <span>11-17</span></a>
        </li>
        <li>
            <a href="/m/article/?16.html" title="个股期权被骗还能追回吗">
                个股期权被骗还能追回吗 <span>11-17</span>
            </a>
        </li>
    </ul>
</section>
<section class="icontact">
    <h2 class="tit"><span>联系我们 <em>Contact</em> </span>
        <a href="/m/category/?10.html" class="more2">更多</a></h2>
    <ul class="tod">
        <li class="ico1"><span>单位名称：</span>湖北驰迅法律咨询服务有限公司</li>
        <!--li class="ico4"><span>联系电话：</span><a href="tel:18975668328" class="format400" ig-phone>18975668328</a>（点击立即拨打）</li-->
        <li class="ico5"><span>联系手机：</span><a href="tel:15827185636">15827185636</a></li>
    </ul>
    <a href="javascript:;" class="more ch" id="goTop">返回顶部</a>
</section>
<%-include ('common/footer.ejs')-%>
<%-include ('common/popup.ejs')-%>
