<!DOCTYPE html>
<html manifest="huancun.manifest">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,minimum-scale=1.0, maximum-scale=1.0,user-scalable=no,minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta content="telephone=no, email=no" name="format-detection">
    <!-- 启用360浏览器的极速模式(webkit) -->
    <meta name="renderer" content="webkit">
    <!-- 避免IE使用兼容模式 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- 针对手持设备优化，主要是针对一些老的不识别viewport的浏览器，比如黑莓 -->
    <meta name="HandheldFriendly" content="true">
    <!-- 微软的老式浏览器 -->
    <meta name="MobileOptimized" content="320">
    <!-- uc强制竖屏 -->
    <meta name="screen-orientation" content="portrait">
    <!-- QQ强制竖屏 -->
    <meta name="x5-orientation" content="portrait">
    <title>法律资讯</title>
    <meta charset="UTF-8">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
    <meta content="telephone=no" name="format-detection"/>
    <style>
        .home_news li .date,.menu .list a.on span,.m-navbar,#m_message .coolbg,.m-ad,.ys .ystextd1 font,.ys .ysbtn span.on,.ys2-img font{ background:  #0165ba;background-size:100% 100%;}
        .m-box-title2 span,.m-box-title3 span,.m-box-title1 font,.sitepath  span i,.tabbar-item.tabbar-active,.fenlei a span i{ color:#0165ba;}
        .news_show .info{border-left:3px solid #0165ba;}
        /*关于我们*/
        .m-box-about { background:  #0165ba;background-size:100% 100%;}
        /*横幅电话*/
        .m-ad1,.m-ad2{ background:  #0165ba;background-size:100% 100%;}
        /*菜单背景*/
        .m-nav{ background:  #0165ba;background-size:100% 100%;}
        /*底部拨号*/
        .m-tabbar.tabbar-fixed{background:  #0165ba;background-size:100% 100%}
        /*标题栏目*/
        .m-box-title {background: #f2f2f2; background-size:100% 100%;}
        .m-box-title font{border-left:#0165ba 0.12rem solid;}
        /*顶部logo*/
        .m-logo{   padding:0.1rem; background:#fff;}
        .m-logo img{  max-width:98%; height:0.8rem;}
    </style>
    <link rel="stylesheet" type="text/css" href="./css/index.css" />
<!--    <script src="http://cmsfile.hnjing.cn/JSHandler.ashx?v=1.0&id=c4ddfb3c-f763-42ee-a946-2ae122932d1b" type="text/javascript"></script>-->
</head>
<body>
<div class="header">
    <div class="header_c">
        <div class="logo"><a href="./index.html">湖北驰迅法律咨询服务有限公司</a></div>
    </div>
</div>
<section class="sitepath">
    <h2>法律资讯</h2>
    <div class="showmenu" id="showmenu">分类导航</div>
</section>
<nav class="menu" id="menu">
    <dl class="list clearfix">

        <dd ><a href="/m/category/?13.html" ig-cut>法律法规</a></dd>

        <dd ><a href="/m/category/?5.html" ig-cut>公司新闻</a></dd>

        <dd ><a href="/m/category/?6.html" ig-cut>行业新闻</a></dd>

    </dl>
</nav>
<section class="list-news2" id="ajaxLoading">
    <dl class="list clearfix">
        <dd class="item"><a href="/m/article/?71.html">
            <h3>最近我看到很多网站宣传，做外汇、股票等二元期权交易，操作简单方便还可赚</h3>
            <p> 问：最近我看到很多网站宣传，做外汇、股票等二元期权交易，操作简单方便还可赚大钱，请问我可以参与吗？ 答：根据我国《期货交易管理条例》的规定，期权合约是指期货交易场所统一制... </p>
        </a></dd><dd class="item"><a href="/m/article/?70.html">
        <h3>百盛国际被骗亏损黑幕大曝光!出金困难问题大揭秘!</h3>
        <p> 在你投资亏损的同时，是否只是单方面考虑过是自我的操作问题，还是其中另有隐情？而大多投资者会认为是自身的原因，但大部分问题其实是国内一些非法平台在暗箱操作造成的！他们喊着... </p>
    </a></dd><dd class="item"><a href="/m/article/?14.html">
        <h3>你投资为什么总是小赢大亏不能出金有何内幕！</h3>
        <p>  根据《关于严厉查处非法外汇期货和外汇按金交易活动的通知》（证监发字〔1994〕165号），凡未经批准的机构擅自开展外汇按金交易的，均属于违法行为；客户（单位和个人）委托未经批准的... </p>
    </a></dd><dd class="item"><a href="/m/article/?12.html">
        <h3>老师带单频频亏损真的是意外吗？</h3>
        <p> 个股期权被骗还能追回吗？个股期权都是骗局吗?个股期权到底是什么？这类投资是违法的吗？普通人能参与吗？个股期权到底是怎么骗人？个股期权就没有正规的吗？最近有很多投资者向我们... </p>
    </a></dd><dd class="item"><a href="/m/article/?11.html">
        <h3>老师免费带单是真心带你赚钱吗？</h3>
        <p> 一个月前，下了一点大决心开始清理朋友圈，那些三分熟，无聊矫情惹人厌的都被我狠心一划，就这么赶进了小黑屋。 我自身是个很不social的人，特别是在互联网上，叫我自己天翻地覆地夜夜... </p>
    </a></dd><dd class="item"><a href="/m/article/?13.html">
        <h3>免费荐股是阴谋还是馅饼？</h3>
        <p> 近年来，我国多地连续发生贵金属诈骗投资、非法期货案件，涉案金额屡创新高。标榜“躺着赚钱”的个人贵金属投资，正成为理财欺诈的高发区。这类案件中，嫌疑人一般会采用以下三种手法... </p>
    </a></dd><dd class="item"><a href="/m/article/?15.html">
        <h3>配资策略维权咨询</h3>
        <p> 一直以来，股票都是受广大投资者爱好的投资品种，门槛低、资金安全、监管严格、交易公平，使得股市一直受投资者青睐。而股票相对于期货、现货等产品，不是保证金交易，没有杠杆，于是... </p>
    </a></dd><dd class="item"><a href="/m/article/?16.html">
        <h3>个股期权被骗还能追回吗？个股期权都是骗局吗?</h3>
        <p> 个股期权就没有正规的吗？最近有很多投资者向我们询问各类关于个股期权的问题，回答他们是一方面，另一方面以我的职业嗅觉我很快反应到，最近有越来越多的投资者已经或者正在陷入个股... </p>
    </a></dd><dd class="item"><a href="/m/article/?49.html">
        <h3>现货投资骗局</h3>
        <p> 近年来，随着股票市场的持续活跃，一些不法分子看到了 “商机”，盯上了股民，他们摇身一变成为“股票分析师”“金融行业专家”开群授课，热情指点，一些投资者听得热血沸腾，深信不... </p>
    </a></dd><dd class="item"><a href="/m/article/?48.html">
        <h3>山西太原警方跨省打掉“荐股”诈骗团伙 抓获11人</h3>
        <p> 中新网太原 5月11日电 (李庭耀)记者11日从山西省太原市公安局获悉，当地警方跨省打掉一“荐股”诈骗团伙，抓获犯罪嫌疑人11名。 日前，太原市公安局尖草坪分局接到受害人温某报警称，其... </p>
    </a></dd>

    </dl>

    <div class="clear"></div>
    <div class="yc_pages">
        <link href="/m/skin0/css/pages.css" type="text/css" rel="stylesheet"/>
        <ul>
            <li><a>首页</a></li>
            <li class="thisclass"><a>1</a></li>
            <li><a href='/m/category/?4-2.html'>2</a></li>
            <li><a href='/m/category/?4-3.html'>3</a></li>
            <li><a href='/m/category/?4-2.html'>下一页</a></li>
            <li><a href='/m/category/?4-3.html'>末页</a></li>

        </ul>
    </div>
    <div class="clear"></div>
</section>
<footer class="footer">Copyright@ 2020  湖北驰迅法律咨询服务有限公司 All rights reserved. <br> <a href="http://beian.miit.gov.cn/" style=color:#ffffff target="_blank">备案号：鄂ICP备20010203号-1</a></footer>

<commend class="toolbar">

    <dl class="list clearfix">

        <dd><a href="./index.html" class="too-home">首页</a></dd>

        <dd><a href="javascript:;" class="too-map"  onclick="app.map('show')">地图</a></dd>

        <dd><a href="tel:18571690116" class="too-tel">电话</a></dd>

        <dd><a href="#" class="too-qiao">咨询</a></dd>

    </dl>

</commend>

<section class="location" id="location">

    <div class="map" id="map"></div>

    <div class="address">

        <p>详细地址：

        </p>

    </div>

    <div class="close" onclick="app.map('hide')"></div>

    <script type="text/javascript">

        JsReady(function(){showMap('map','湖北驰迅法律咨询服务有限公司',117.190505,39.126166,'联系人：18571690116<br/>地址：',13)});

    </script>

</section>

<script src="./js/app.js"></script>



</body>
</html>
