<%-include ('common/header.ejs')-%>
<%-include ('common/logo.ejs')-%>
<section class="sitepath">
    <h2>公司简介</h2>
    <div class="showmenu" id="showmenu">分类导航</div>
</section>
<nav class="menu" id="menu">
    <dl class="list clearfix">
        <dd ><a href="/m/category/?2.html" ig-cut>公司简介</a></dd>
        <dd ><a href="/m/category/?3.html" ig-cut>企业资质</a></dd>
    </dl>
</nav>
<section class="wrapper">
    <article ig-article>
        <p><br /></p>
        <p>
            <span style="font-size:14px;line-height:2;"> 湖北驰迅法律咨询服务有限公司，是国内专业致力于帮助金融骗局受害者提供法律维权咨询公司。目前已经涉及的咨询服务业务领域包括外汇黄金法律维权咨询、股指期货法律维权咨询、个股期权维权咨询、股票配资法律维权咨询、沪深300法律维权咨询、数字货币法律维权咨询、港股法律维权咨询、区块链法律维权咨询等二十余种。</span>
        </p>
        <p><br /></p>
        <p>
            <span style="font-size:14px;line-height:2;">现如今发生了许多如互助金融、非法集资、集资诈骗等互联网金融骗局。其中P2P网贷、原始股股权众筹、虚拟币、交易所、外盘投资等都被爆出存在巨大问题。</span>
        </p>
        <p>
            <span style="font-size:14px;line-height:2;"> 湖北驰迅法律咨询服务有限公司由数十位长期从事金融维权业务的专业人士及律师团队、财务专家组成，专业处理各种法律咨询服务</span>
        </p>
        <p><span style="font-size:14px;line-height:2;"> 湖北驰迅法律咨询服务有限公司会竭尽所能提供详尽的法律咨询服务! </span></p>
        <p><br /></p>
        <p><br /></p>
    </article>
</section>
<%-include ('common/footer.ejs')%>
